* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navlink {
  color: inherit;
  text-decoration: none; /* opcional si no quieres subrayado */
}

.navlink:visited {
  color: inherit;
}
